# 4.10.1 Coding Etiquette & Excel Reporting

# Contents List

### 01 Import Libraries

Create Path

### 02 Import Data

Importing "orders_products_customer_merged.pkl"

Removing the limit to the amount of columns displayed by default

Dropping eval_set

Dropping _merge

### 03 Task

2) Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

3) The Instacart officers are interested in comparing customer behavior in different geographic areas. Create a regional segmentation of the data. You’ll need to create a “Region” column based on the “State” column from your customers data set.
Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions).
Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

Create the regions

Deriving new column

Determing regional spending habits

Insights

4) The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

Conditions for exclusion flag

Create subset with "activity_flag" = "Active customer"

Create subset with "activity_flag" = "Non-active customer"

Export "df_active_cutomers.pkl"

Export "df_non_active_cutomers.pkl"

5) The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database. Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents. You might also use the “orders_day_of_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

Create df excluding customers with <5 orders

Analyzing customer age data

Creating age group conditions

Analyzing customer income data

Creating income group conditions by std

Import "departments_wrangled.csv" dataframe

Rename Unamed:0 to department_id

Merge df_dept with df_2

Create profiling variables

Replace NaN with "None" so it doesn't look like missing data

Analyzing customer dependants data

Creating dependant group conditions by std

Creating family flags

Analyze family data

Creating family groups

Insights

### 04 Export

Export "df_FINAL.pkl"

## 01 Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Path Import
path = r'/Users/carolinelasersohn/Documents/Documents - Caroline’s MacBook Pro/data analytics/Immersion/4. Python/Instacart Basket Analysis 2023'

## 02 Import Data

In [3]:
# final data import
df = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customer_merged.pkl'))

In [4]:
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,order_frequency_flag,first_name,last_name,gender,state,age,date_joined,dependant_count,fam_status,income
0,2539329,1,prior,1,2,8,0.0,196,1,0,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [5]:
# Removing the limit to the amount of columns displayed by default 
pd.set_option('display.max_columns', None)

In [6]:
df.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_orders,order_frequency_flag,first_name,last_name,gender,state,age,date_joined,dependant_count,fam_status,income
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [7]:
# Dropping eval_set
df = df.drop(columns = ['eval_set'])

In [8]:
# Dropping _merge
df = df.drop(columns = ['_merge'])

## 03 Task 4.10

## 2

Consider any security implications that might exist for this new data. You’ll need to address any PII data in the data before continuing your analysis.

In [9]:
# Dropping first_name & last_name
df = df.drop(['first_name', 'last_name'], axis=1)

In [10]:
df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_orders,order_frequency_flag,gender,state,age,date_joined,dependant_count,fam_status,income
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423

## 3

- Need to create a “Region” column based on the “State” column from your customers data set.
- Use the region information in this Wikipedia article to create your column (you only need to create regions, not divisions)
- Determine whether there’s a difference in spending habits between the different U.S. regions. (Hint: You can do this by crossing the variable you just created with the spending flag.)

### Create the regions

In [11]:
West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [12]:
South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

In [13]:
Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

In [14]:
Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

### Deriving new column

In [15]:
df.loc[df['state'].isin(West), 'region'] = 'West'

In [16]:
df.loc[df['state'].isin(South), 'region'] = 'South'

In [17]:
df.loc[df['state'].isin(Midwest), 'region'] = 'Midwest'

In [18]:
df.loc[df['state'].isin(Northeast), 'region'] = 'Northeast'

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 31 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest_day             object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  average_price           float64
 20  spending_flag           object
 21  median_orders           float64
 22  order_frequency_flag    object
 23  gender                  object
 24  state                   object
 25  age                     int64
 26  date_joined             object
 27  dependant_count         int64
 28  fam_status              object
 29  income                  int64
 30  region                  object
dtypes: float64(4), int64(14), object(13)
memory usage: 7.5+ GB

In [20]:
df['region'].value_counts(dropna = False)

region
South        10791885
West          8292913
Midwest       7597325
Northeast     5722736
Name: count, dtype: int64

In [21]:
10791885 + 8292913 + 7597325 + 5722736

32404859

### Determing regional spending habits

In [22]:
crosstab = pd.crosstab(df['region'], df['spending_flag'], dropna = False)

In [23]:
crosstab

spending_flag  High spender  Low spender
region
Midwest              155975      7441350
Northeast            108225      5614511
South                209691     10582194
West                 160354      8132559

### Insights

In [24]:
# midwest market share
7597325/32404859 * 100

23.445017921540718

In [25]:
# midwest high spender %
155975/7597325 * 100

2.053025242437305

In [26]:
# midwest low spender %
7441350/7597325 * 100

97.9469747575627

In [27]:
# northeast market share
5722736/32404859 * 100

17.66011695962016

In [28]:
# northeast high spender %
(108225/5722736) * 100

1.8911408808653762

In [29]:
# northeast low spender %
(5614511/5722736) * 100

98.10885911913462

In [30]:
# south market share
10791885/32404859 * 100

33.30329257103079

In [31]:
# south high spender %
(209691/10791885) * 100

1.9430433144904713

In [32]:
# south low spender %
(10582194/10791885) * 100

98.05695668550953

In [33]:
# west market share
8292913/32404859 * 100

25.59157254780834

In [34]:
# west high spender %
(160354/8292913) * 100

1.9336269414619447

In [35]:
# west low spender %
(8132559/8292913) * 100

98.06637305853806

- spending habits are practically identical in terms of high and low spenders
- South has the largest market share (33%), followed by West (26%), then Midwest (23%) and finally Northeast (18%)

## 4

The Instacart CFO isn’t interested in customers who don’t generate much revenue for the app. Create an exclusion flag for low-activity customers (customers with less than 5 orders) and exclude them from the data. Make sure you export this sample.

In [36]:
# conditions for exclusion flag
df.loc[df['max_order'] >= 5, 'activity_flag'] = 'Active customer'
df.loc[df['max_order'] < 5, 'activity_flag'] = 'Non-active customer'

In [37]:
df['activity_flag'].value_counts(dropna=False)

activity_flag
Active customer        30964564
Non-active customer     1440295
Name: count, dtype: int64

In [38]:
# create subset with "activity_flag" = "Active customer" 
df_active_customers = df[df['activity_flag'] =='Active customer']

In [39]:
# create subset with "activity_flag" = "Non-active customer" 
df_non_active_customers = df[df['activity_flag'] =='Non-active customer']

In [40]:
df_active_customers.shape

(30964564, 32)

In [41]:
df_non_active_customers.shape

(1440295, 32)

In [42]:
# Export df_active_customers
df_active_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_active_cutomers.pkl'))

In [43]:
# Export df_non_active_customers
df_non_active_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_non_active_cutomers.pkl'))

## 5

- The marketing and business strategy units at Instacart want to create more-relevant marketing strategies for different products and are, thus, curious about customer profiling in their database.
- Create a profiling variable based on age, income, certain goods in the “department_id” column, and number of dependents.
- You might also use the “orders_day_of_the_week” and “order_hour_of_day” columns if you can think of a way they would impact customer profiles. (Hint: As an example, try thinking of what characteristics would lead you to the profile “Single adult” or “Young parent.”)

In [44]:
# Excluding customers with <5 orders
df_2 = df_active_customers

### Age

In [45]:
# Analyzing customer age data
df_2['age'].describe()

count    3.096456e+07
mean     4.946803e+01
std      1.848528e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

Insights
- Average age is 49
- Min age is 18
- Max age is 81
- Will group by std

In [46]:
# creating age group conditions

In [47]:
df_2.loc[(df_2['age'] >= 18) & (df_2['age'] <= 33), 'age_group'] = '18-33'

/var/folders/b9/y4g8ppyj2bs49xgy2tjbz9c00000gn/T/ipykernel_87067/2781014312.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.loc[(df_2['age'] >= 18) & (df_2['age'] <= 33), 'age_group'] = '18-33'

In [48]:
df_2.loc[(df_2['age'] >= 34) & (df_2['age'] <= 49), 'age_group'] = '34-49'

In [49]:
df_2.loc[(df_2['age'] >= 50) & (df_2['age'] <= 65), 'age_group'] = '50-65'

In [50]:
df_2.loc[(df_2['age'] > 66), 'age_group'] = '65+'

In [51]:
df_2['age_group'].value_counts(dropna = False)

age_group
34-49    7790824
18-33    7757465
50-65    7685441
65+      7276230
NaN       454604
Name: count, dtype: int64

### Income

In [52]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30964564 entries, 0 to 32404854
Data columns (total 33 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   orders_day_of_week      int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_order       int64
 8   reordered               int64
 9   product_name            object
 10  aisle_id                int64
 11  department_id           int64
 12  prices                  float64
 13  price_range_loc         object
 14  busiest_day             object
 15  busiest_days            object
 16  busiest_period_of_day   object
 17  max_order               int64
 18  loyalty_flag            object
 19  average_price           float64
 20  spending_flag           object
 21  median_orders           float64
 22  order_frequency_flag    object
 23  gender                  object
 24  state                   object
 25  age                     int64
 26  date_joined             object
 27  dependant_count         int64
 28  fam_status              object
 29  income                  int64
 30  region                  object
 31  activity_flag           object
 32  age_group               object
dtypes: float64(4), int64(14), object(15)
memory usage: 7.8+ GB

In [53]:
# Analyzing customer income data
df_2['income'].describe()

count    3.096456e+07
mean     9.967587e+04
std      4.314187e+04
min      2.590300e+04
25%      6.729200e+04
50%      9.676500e+04
75%      1.281020e+05
max      5.939010e+05
Name: income, dtype: float64

Insights
- the average income is 99,676
- the min income is 25,903
- the maxc income is 5.9mil

In [54]:
# creating income group conditions by std

In [55]:
# income <67,292 = Low
df_2.loc[df_2['income'] <= 67292, 'income_group'] = 'Low'

/var/folders/b9/y4g8ppyj2bs49xgy2tjbz9c00000gn/T/ipykernel_87067/2663177227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.loc[df_2['income'] <= 67292, 'income_group'] = 'Low'

In [56]:
# income >67292 <=128102 = Mid
df_2.loc[(df_2['income'] > 67292) & (df_2['income'] <= 128102), 'income_group'] = 'Mid'

In [57]:
# income >128102 = High
df_2.loc[(df_2['income'] > 128102), 'income_group'] = 'High'

In [58]:
df_2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_orders,order_frequency_flag,gender,state,age,date_joined,dependant_count,fam_status,income,region,activity_flag,age_group,income_group
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer,18-33,Low
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer,18-33,Low
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer,18-33,Low
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer,18-33,Low
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer,Female,Alabama,31,2/17/2019,3,married,40423,South,Active customer,18-33,Low

In [59]:
df_2['income_group'].value_counts(dropna = False)

income_group
Mid     15482125
Low      7741348
High     7741091
Name: count, dtype: int64

### Department_id

In [60]:
df_2['department_id'].value_counts(dropna = False)

department_id
4     9079273
16    5177182
19    2766406
7     2571901
1     2121731
13    1782705
3     1120828
15    1012074
20    1003834
9      822136
17     699857
12     674781
14     670850
11     424306
18     410392
6      255991
5      144627
8       93060
21      64768
2       34411
10      33451
Name: count, dtype: int64

In [61]:
# Import departments_wrangled" dataframe
df_dept = pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'departments_wrangled.csv'))

In [62]:
df_dept

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [63]:
# rename Unamed:0 to department_id
df_dept.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [64]:
df_dept

    department_id       department
0               1           frozen
1               2            other
2               3           bakery
3               4          produce
4               5          alcohol
5               6    international
6               7        beverages
7               8             pets
8               9  dry goods pasta
9              10             bulk
10             11    personal care
11             12     meat seafood
12             13           pantry
13             14        breakfast
14             15     canned goods
15             16       dairy eggs
16             17        household
17             18           babies
18             19           snacks
19             20             deli
20             21          missing

In [ ]:
# merge df_dept with df_2
df_2 = df_2.merge(df_dept, on = 'department_id')

In [ ]:
df_2.head()

In [ ]:
df_2['department'].value_counts(dropna = False)

### Create profiling variables

In [ ]:
# create profiling variable for alcohol department
df_2.loc[df_2['department'] == 'alcohol', 'department_flag'] = 'Drinks alcohol'

In [ ]:
# create profiling variable for deli & meat/seafood department
df_2.loc[(df_2['department'] == 'deli') & (df_2['department'] == 'meat seafood'), 'department_flag'] = 'Meat eater'

In [ ]:
# create profiling variable for babies
df_2.loc[(df_2['department'] == 'babies'), 'department_flag'] = 'Has baby'

In [ ]:
# create profiling variable for pets
df_2.loc[(df_2['department'] == 'pets'), 'department_flag'] = 'Has pet'

In [ ]:
df_2['department_flag'].value_counts(dropna = False)

In [ ]:
# Replace NaN with "None" so it doesn't look like missing data
df_2['department_flag'].fillna('None', inplace=True)

In [ ]:
df_2['department_flag'].value_counts(dropna = False)

### Dependants

In [ ]:
# Analyzing customer dependants data
df_2['dependant_count'].describe()

Insights
- mean number of dependants is 1.5
- min number of dependants is 0
- max number of dependants is 3

In [ ]:
# creating dependant group conditions by std

In [ ]:
# no dependants
df_2.loc[df_2['dependant_count'] == 0, 'dependants_flag'] = 'No dependants'

In [ ]:
# has dependants
df_2.loc[df_2['dependant_count'] > 0, 'dependants_flag'] = 'Has dependants'

In [ ]:
df_2['dependants_flag'].value_counts(dropna = False)

In [ ]:
df_2.head()

### Creating family flags

In [ ]:
# Analyze family data

In [ ]:
df_2['fam_status'].value_counts(dropna = False)

In [ ]:
df_2['dependants_flag'].value_counts(dropna = False)

In [ ]:
df_2['age_group'].value_counts(dropna = False)

In [ ]:
df_2['gender'].value_counts(dropna = False)

In [ ]:
df_2['income_group'].value_counts(dropna = False)

### Creating family groups

### family_flag

In [ ]:
# married man with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants'), 'family_flag'] = 'Married man, no children'

In [ ]:
# married man with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants'), 'family_flag'] = 'Married man, has children'

In [ ]:
# married woman with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants'), 'family_flag'] = 'Married woman, no children'

In [ ]:
# married woman with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants'), 'family_flag'] = 'Married woman, has children'

In [ ]:
# single man with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants'), 'family_flag'] = 'Single man, no children'

In [ ]:
# single man with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants'), 'family_flag'] = 'Single man, has children'

In [ ]:
# single woman with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants'), 'family_flag'] = 'Single woman, no children'

In [ ]:
# single woman with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants'), 'family_flag'] = 'Single woman, has children'

In [ ]:
df_2['family_flag'].value_counts(dropna = False)

no 'married man/woman, no children' - why?

### family_flag_income

men

In [ ]:
# married man with children, low income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, married man, has children'

In [ ]:
# married man with children, mid income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, married man, has children'

In [ ]:
# married man with children, high income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, married man, has children'

In [ ]:
# single man with children, low income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, single man, has children'

In [ ]:
# single man with children, mid income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, single man, has children'

In [ ]:
# single man with children, high income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, single man, has children'

In [ ]:
# married man with no children, low income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, married man, no children'

In [ ]:
# married man with no children, mid income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, married man, no children'

In [ ]:
# married man with no children, high income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, married man, no children'

In [ ]:
# married man with no children, mid income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, married man, no children'

In [ ]:
# single man with no children, low income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, single man, no children'

In [ ]:
# single man with no children, mid income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, single man, no children'

In [ ]:
# single man with no children, high income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, single man, no children'

women

In [ ]:
# married woman with children, low income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, married woman, has children'

In [ ]:
# married woman with children, mid income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, married woman, has children'

In [ ]:
# married woman with children, high income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, married woman, has children'

In [ ]:
# single woman with children, low income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, single woman, has children'

In [ ]:
# single woman with children, mid income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, single woman, has children'

In [ ]:
# single woman with children, high income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, single woman, has children'

In [ ]:
# married woman with no children, low income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, married woman, no children'

In [ ]:
# married woman with no children, mid income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Mid income, married woman, no children'

In [ ]:
# married woman with no children, high income
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, married woman, no children'

In [ ]:
# single woman with no children, low income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Low'), 'family_flag_income'] = 'Low income, single woman, no children'

In [ ]:
# single woman with no children, mid income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'Mid'), 'family_flag_income'] = 'Mid income, single woman, no children'

In [ ]:
# single woman with no children, high income
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['income_group'] == 'High'), 'family_flag_income'] = 'High income, single woman, no children'

### family_flag_age

men

In [ ]:
# young single man with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, single man, has children'

In [ ]:
# young married man with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, married man, has children'

In [ ]:
# young single man with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, single man, has no children'

In [ ]:
# young married man with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, married man, has no children'

In [ ]:
# middle-age single man with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, single man, has children'

In [ ]:
# middle-age married man with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, married man, has children'

In [ ]:
# middle-age single man with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, single man, has no children'

In [ ]:
# middle-age married man with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, married man, has no children'

In [ ]:
# middle-old-age single man with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, single man, has children'

In [ ]:
# middle-old-age married man with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, married man, has children'

In [ ]:
# middle-old-age single man with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, single man, has no children'

In [ ]:
# middle-old-age married man with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, married man, has no children'

In [ ]:
# older single man with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, single man, has children'

In [ ]:
# older married man with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, married man, has children'

In [ ]:
# older single man with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, single man, has no children'

In [ ]:
# older married man with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Male') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, married man, has no children'

women

In [ ]:
# young single woman with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, single woman, has children'

In [ ]:
# young married women with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, married woman, has children'

In [ ]:
# young single woman with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, single woman, has no children'

In [ ]:
# young married woman with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '18-33'), 'family_flag_age'] = 'Young, married woman, has no children'

In [ ]:
# middle-age single woman with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, single woman, has children'

In [ ]:
# middle-age married woman with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, married woman, has children'

In [ ]:
# middle-age single woman with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, single woman, has no children'

In [ ]:
# middle-age married woman with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '34-49'), 'family_flag_age'] = 'Middle-age, married woman, has no children'

In [ ]:
# middle-old-age single woman with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, single woman, has children'

In [ ]:
# middle-old-age married woman with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, married woman, has children'

In [ ]:
# middle-old-age single woman with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, single woman, has no children'

In [ ]:
# middle-old-age married woman with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '50-65'), 'family_flag_age'] = 'Middle-old-age, married woman, has no children'

In [ ]:
# older single woman with children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, single woman, has children'

In [ ]:
# older married woman with children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'Has dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, married woman, has children'

In [ ]:
# older single woman with no children
df_2.loc[(df_2['fam_status'].isin(['single','living with parents and siblings','divorced/widowed'])) & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, single woman, has no children'

In [ ]:
# older married woman with no children
df_2.loc[(df_2['fam_status'] == 'married') & (df_2['gender'] == 'Female') & (df_2['dependants_flag'] == 'No dependants') & (df_2['age_group'] == '65+'), 'family_flag_age'] = 'Older, married woman, has no children'

### Insights

In [ ]:
df_2['family_flag_income'].value_counts(dropna = False)

In [ ]:
df_2['family_flag_age'].value_counts(dropna = False)

## 04 Export

In [ ]:
#Export
df_2.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_FINAL.pkl'))