# 4.6.1 Combining and Exporting Data

# Contents List

### 01 Import Libraries

Create Path

### 02 Import Data

Import df_prods

Import orders_products_combined.pkl

### 03 Task 4.6

4) Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

5) Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

Merged on "product_id" column

6) Confirm the results of the merge using the merge flag.

### 04 Export

7) Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).

Exported as "orders_products_merged.pkl"

## 01 Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
#Path Import
path = r'/Users/carolinelasersohn/Documents/Documents - Caroline’s MacBook Pro/data analytics/Immersion/4. Python/Instacart Basket Analysis 2023'

## 02 Import Data

In [3]:
# Import df_prods
df_prods =  pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [4]:
# orders_products_combined.pkl import
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

## 03 Task 4.6.1

## 4

Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [5]:
df_ords_prods_combined.shape

(32434489, 13)

In [6]:
df_prods.shape

(49672, 6)

In [7]:
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,0.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,0.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,0.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,0.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,0.0,26405,5,0,both

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

## 5

Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [9]:
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [10]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', '_merge'])

In [11]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [12]:
df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,0.0,196,1,0
1,2539329,1,prior,1,2,8,0.0,14084,2,0
2,2539329,1,prior,1,2,8,0.0,12427,3,0
3,2539329,1,prior,1,2,8,0.0,26088,4,0
4,2539329,1,prior,1,2,8,0.0,26405,5,0

In [13]:
# Merged on "product_id column"
df_ords_prods_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

## 6

Confirm the results of the merge using the merge flag.

In [14]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [15]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [16]:
df_ords_prods_merged.shape

(32404859, 15)

## 04 Export

In [17]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))